<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Image:</strong>
  <%= @place.image %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @place.hotel_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
